$maxWidth: 1920;
$mobSize: 300;

// colors
$_system-color-primary: #313037;
$_system-color-primary2: #5b5a62;
$_system-color-secondary: #a8a8a8;

$dark-gray: rgb(37, 36, 41);
$gray: rgb(110, 110, 110);
$black: rgb(24, 23, 28);
$white: rgb(225, 225, 225);
$white-bright: rgb(255, 255, 255);
$orange: #ff8800;
$green: #36aa25;
$red: #dc3545;
$yellow: #ffff00;
$green-lime: #7faa25 ;
$blue-button: rgb(13, 110, 253);
$blue-button-hover: rgb(11, 94, 215);